.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    width: 300px;
    margin: 2rem auto;
    padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column;

}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 41, 13);
    margin: 1rem;
    width: 250px;
    height: 200px;
}